extends layout

block content
  h2.text-center 隆Bienvenido a la Cl铆nica M茅dica "DiagnoCare"! 
  
  hr
  
  // --- SECCIN DATOS LOCALES (Archivos JSON) ---
  h3  Administraci贸n (Datos Locales - JSON)
  p.text-muted Use esta secci贸n para administrar las entidades que a煤n usan los archivos JSON.
  
  ul
    li
      a(href="/empleados") Empleados
    li
      a(href="/pacientes") Pacientes
    li
      a(href="/tareas") Tareas
    li
      a(href="/insumos") Insumos

  hr

  // --- SECCIN MONGODB (Base de Datos Persistente) ---
  h3 锔 Administraci贸n (Base de Datos MongoDB)
  p.text-muted Use esta secci贸n para administrar las entidades migradas a MongoDB Atlas.

  ul
    li
      a(href="/tareasmongo") Tareas MongoDB


  hr